body {
    margin: 0px;
    padding: 0px;
}
#header {
    background: #f00;
    width: 100%;
}
#leftcol {
    background: #f00;
    float: left;
    width: 20%;
    height: 500px;
}
#rightcol {
    background: #FFFF00;
    float: right;
    width: 20%;
    height: 500px;
}
#content {
    background: #fff;
    float: left;
    width: 59%;
    height: 100%;
}
#footer {
    background: #0000FF;
    clear: both;
    width: 100%;
    bottom: 0;
}