.container .form-input{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container input {
    background-color: #4472C4;
    border: 1px solid #ced4da;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.container #input{
    width: 100%;
    text-align: center;
}
.container .submit{
    float: right;
}
.container .input{
    display: flex;
}
.container .handle{
    margin-left:20px;
}