.container {
  max-width: 1170px; 
}

html {
  scroll-behavior: smooth; 
}
.home-screen {
  background-image: url(../images/PAC.jpg); 
}
.home-screen .home-detail {
    padding-top: 110px; 
}
.home-screen .home-detail .hom-img {
  text-align: center; 
  margin-bottom: 50px;
}
.home-screen .home-detail .hom-img img {
  width: 80%; 
}
.home-screen .home-detail .homexp {
  color: #FFF;
}
.home-screen .home-detail .homexp h2 {
  color: #FFF;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 10px; 
}
.home-screen .home-detail .homexp h5 {
  color: #FFF;
  font-weight: 600;
  font-size: 2rem;
}
.home-screen .home-detail .homexp span {
  font-weight: 700;
  font-size: 1.5rem; 
}
.home-screen .home-detail .homexp span a {
  color: #fe9c2c; 
}
.home-screen .home-detail .homexp p {
  margin-top: 20px;
  font-weight: 600;
  font-size: .95rem; 
}

.about-me {
  padding: 50px;
  background-color: #FFF; 
}

.about-me .about-row .image-col {
  text-align: center; 
}
.about-me .about-row .image-col img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 10px;
  width: 90%; 
}
.about-me .about-row .image-col .btn {
  margin-top: 40px;
  width: 90%;
  font-weight: 600;
  text-transform: uppercase; 
}
.about-me .about-row .detail-col h2 {
  font-weight: 700;
  font-size: 2rem; }
.about-me .about-row .detail-col h6 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 20px; 
}
.about-me .about-row .detail-col p {
  font-size: .94rem;
  line-height: 30px;
  color: #11f1f1; 
}
.about-me .about-row .detail-col .info-list {
  margin-top: 30px; 
}
.about-me .about-row .detail-col .info-list ul li {
  padding: 8px;
  text-align: right;
  font-size: .95rem; 
}
.about-me .about-row .detail-col .info-list ul li span {
    float: left;
    font-weight: 600;
    color: #000000; 
  }